@media screen and (max-width: 1200px) {
    main {
        section {
            .now_playing {
                min-height: 700px !important;
                grid-template-rows: repeat(2, 365px);
                gap: 20px;
                .item_movie {
                    position: relative;
                    .poster_img{
                        height: fit-content;
                        .poster_movie {
                            height: 310px !important;
                        }
                    }
                    .hover_bg {
                        max-height: 310px;
                        .hover_bg_btn {
                            font-size: 15px;
                        }
                        .hover_bg_btn:hover{
                        }
                    }
                    .rating_box {
                        width: 40px;
                        height: 25px;
                    }
                }                
            }
        }
    }
    section {
        .container {
            .popular_movie{
                min-height: 360px;
                .item_movie{
                    height: 85%;
                    .rating_box {
                        width: 40px !important;
                        height: 25px !important;
                        .rating {
                        }
                    }
                }
            }
        }
    }
    section {
        .container {
            .trailer_box {
                .video {
                    .trailer_list_video {
                        padding: 20px;
                        .trailer_item {
                            .trailer_name {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        .container {
            .coming_soon {
                .item_box {
                    grid-template-rows: repeat(2, 400px);
                    gap: 20px;
                    .item_movie {
                        .poster_img{
                            .poster_movie {
                                width: 100%;
                                height: 310px;
                            }
                        }
                        .hover_bg {
                            height: 310px;
                            .hover_bg_btn {
                                font-size: 15px;
                            }
                            .hover_bg_btn:hover{
                        }
                        }
                        .name_movie {
                        }
                        .genre_movie {
                        }
                    }
                }
            }
            .box_office {
                .title {
                    .left {
                        h1 {
                        }
                        p {
                        }
                    }
                    .right {
                        ul {
                            li {
                            }
                            .active {
                            }
                            :hover {
                            }
                        }
                    }
                }
                .movie_list {
                    .item_movie {
                        img {
                        }
                        .movie_info {
                            p {
                            }
                        }
                    }
                }
                .blue_background {
                    .subscription {
                        .logo {
                        }
                        .sub_title {
                            span {
                            }
                            p {
                            }
                            form {
                                input {
                                }
                                button {
                                }
                                button:hover {
                                }
                            }
                            .checkbox {
                                label {
                                    a {
                                    }
                                }
                            }
                        }
                    }
                }
                .blue_background::before {
                }
                .socials {
                    img {
                    }
                    img:hover {
                    }
                }
                nav {
                    ul {
                        li {
                        }
                        li:hover {
                        }
                    }
                }
                .footer {
                    p {
                    }
                    a {
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 980px) {
    main {
        .container {
            max-width: 980px;
            padding: 20px;
            header {
                padding: 0;
                justify-content: space-between;
                .logo {
                    .logotype {
                    }
                    .social {
                        img {
                        }
                        img:hover {
                        }
                    }
                }
                nav {
                    ul {
                        min-width: 600px !important;
                        justify-content: center;
                        gap: 20px;
                        li {
                        }
                        li:hover {
                        }
                    }
                }
            }
        }
        section {
            .now_playing {
                min-height: 700px !important;
                grid-template-rows: repeat(2, 365px);
                gap: 20px;
                .item_movie {
                    height: 260px;
                    position: relative;
                    .poster_img{
                        height: 260px;
                        .poster_movie {
                            height: 260px !important;
                        }
                    }
                    .rating_box {
                        width: 40px;
                        height: 25px;
                    }
                    .hover_bg {
                        height: 260px;
                        .hover_bg_btn {
                            padding: 10px 20px;
                            font-size: 15px;
                        }
                    }
                }                
            }
        }
    }
    section {
        .container {
            padding: 20px;
            .trailer_box {
                .video {
                    iframe {
                    }
                    .trailer_list_video {
                        padding: 20px;
                        .trailer_item {
                            .backdrop_img{
                            }                    
                            .play{
                            }
                            .trailer_name {
                                font-size: 15px;
                            }
                        }
                    }
                }
                .title_box {
                    gap: 50px;
                }
            }
        }
    }
    section {
        .container {
            padding: 20px;
            .popular_movie{
                height: 300px;
                .item_movie{
                    .poster_movie {
                        height: 200px;
                    }
                    .rating_box {
                        width: 50px;
                        height: 30px;
                        .rating {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
    section {
        .container {
            padding: 20px;
            .person_box {
                gap: 20px;
                height: fit-content;
                .item_person {
                    height: 350px;
                    .title{
                        padding: 20px;
                        .name {
                            font-size: 25px;
                        }
                        .original_name {
                            font-size: 15px;
                        }
                    }
                }
                .person_place_list {
                    height: 350px;
                    padding: 20px;
                    .list_item{
                        .list_left {
                            .list_name {
                                font-size: 25px;
                            }
                            .original_name {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        .container {
            padding: 20px;
            .coming_soon {
                .title {
                    h1 {
                        font-size: 40px;
                    }
                }
                .item_box {
                    min-height: 400px;
                    grid-template-rows: repeat(2, 365px);
                    gap: 20px;
                    .item_movie {
                        .poster_img{
                            height: 260px;
                            .poster_movie {
                                width: 100%;
                                height: 260px;
                            }
                        }
                        .hover_bg{
                            height: 260px;
                            .hover_bg_btn{
                                padding: 10px 20px;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
            .box_office {
                .title {
                    padding-top: 30px;
                    .left {
                        align-items: center;
                        h1 {
                            font-size: 40px;
                        }
                        p {
                            padding: 0;
                        }
                    }
                    .right {
                        ul {
                            gap: 15px;
                        }
                    }
                }
                .movie_list {
                    margin-bottom: 100px;
                    .item_movie {
                        flex-direction: column;
                        img {
                        }
                        .movie_info {
                            p {
                                width: 150px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    main {
        .container {
            header {
                .left{
                    .burger_menu {
                        img {
                        };
                    }
                    .hide{
                        display: none;
                    }
                    .view{
                        display: flex;
                    }
                    .logo {
                        .logotype {
                        }
                        .social {
                            img {
                            }
                            img:hover {
                            }
                        }
                    }
                }
                nav {
                    .nav {
                        justify-content: start;
                        gap: 20px;
                        padding-left: 50px;
                        li {
                        }
                        li:hover {
                        }
                    }
                }
            .header_btns {
                .search{
                }
                .search:hover{
                }
                .login {
                }
                .login:hover {
                }
            }
            }
        }
    
        section {
            .container {
                .title_genre {
                    h1 {
                    }
                    .genre {
                        ul {
                            li {
                            }
                            .active {
                            }
                        }
                        ::-webkit-scrollbar {
                        }
                    }
                }
            }
            .now_playing {
                .item_movie {
                    .poster_movie {
                    }
                    .hover_bg {
                        .hover_bg_btn {
                        }
                        .hover_bg_btn:hover{
                        }
                    }
                    .name_movie {
                    }
                    .genre_movie {
                    }
                    .rating_box {
                        .rating {
                        }
                    }
                }
            }
        }
    }
} 