* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Architects Daughter', cursive;
    font-family: 'Ysabeau Infant', sans-serif;
}

body {
    background: #1E2538;
}

.background_image {
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    opacity: 10%;
}

main {
    .container {
        max-width: 1920px;
        padding: 30px 40px;

        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0;

            .logo {
                display: flex;
                flex-direction: column;
                gap: 10px;
                cursor: pointer;

                .logotype {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }

                .social {
                    width: 126px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    img {
                        width: 15px;
                        opacity: 40%;
                        cursor: pointer;
                    }

                    img:hover {
                        opacity: 100%;
                    }
                }
            }

            nav {
                ul {
                    min-width: 760px;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;

                    li {
                        font-size: 17px;
                        list-style: none;
                        text-decoration: none;
                        color: white;
                        font-weight: bold;
                        cursor: pointer;
                        opacity: 70%;
                    }

                    li:hover {
                        opacity: 100%;
                    }
                }
            }

        .header_btns {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            .search{
                background-image: url('./public/search_btn.svg');
                background-position: center;
                border-radius: 15px;
                cursor: pointer;
                width: 40px;
                height: 40px;
                opacity: 80%;
                box-shadow: 0 0 15px #192a67;
            }
            .search:hover{
                opacity: 100%;
            }
            .login {
                background-color: #3657CB;
                box-shadow: 0 0 5px #192a67;
                border-radius: 15px;
                border: none;
                color: white;
                font-size: 16px;
                font-weight: bold;
                padding: 0 30px;
                height: 40px;
                cursor: pointer;
                opacity: 90%;
            }
            .login:hover {
                opacity: 100%;
            }
        }
        }
    }

    section {
        .container {
            max-width: 1920px;
            padding: 20px 0;

            .title_genre {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                min-width: 0;
                gap: 20px;

                h1 {
                    width: 20%;
                    color: white;
                }

                .genre {
                    width: 80%;
                    overflow: hidden;
                    
                    ul {
                        overflow-x: scroll;
                        color: white;
                        list-style: none;
                        display: flex;
                        gap: 22px;

                        li {
                            height: 25px;
                            text-align: center;
                            font-weight: bold;
                            cursor: pointer;
                            opacity: 70%;
                        }

                        .active {
                            opacity: 100%;
                        }

                        li:hover {
                            opacity: 100%;
                        }
                    }

                    ::-webkit-scrollbar {
                        display: none;
                    }
                }
            }
        }

        .now_playing {
            padding: 50px 0;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(2, 600px);
            gap: 40px;
            min-height: 1100px;

            .item_movie {
                width: 100%;
                min-height: 100%;
                .poster_img{
                    position: relative;
                    width: 100%;
                    height: 85%;
                    .poster_movie {
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                        border-radius: 15px;
                        box-shadow: 0 0 15px black;
                        opacity: 100%;
                        position: relative;
                    }
                }

                .hover_bg {
                    background: linear-gradient(45deg, rgba(54, 87, 203, 0.651), rgba(54, 86, 203, 0), rgba(54, 87, 203, 0.651));
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 15%;
                    left: 0;
                    border-radius: 15px;
                    box-shadow: inset 0 0 50px black;
                    justify-content: center;
                    align-items: end;
                    display: none;
                    animation: hover .5s linear forwards;

                    @keyframes hover {
                        from {
                            opacity: 0%;
                        }

                        to {
                            opacity: 100%;
                        }
                    }

                    .hover_bg_btn {
                    background-color: #131e48;
                    box-shadow: 0 0 15px black;
                    border-radius: 5px;
                    border: none;
                    color: white;
                    font-size: 20px;
                    font-weight: bold;
                    padding: 0 30px;
                    height: 40px;
                    cursor: pointer;
                    margin-bottom: 30px;
                    }
                    .hover_bg_btn:hover{
                        background-color: #1a2a68;
                    }
                }

                .name_movie {
                    cursor: pointer;
                    color: white;
                    font-weight: bold;
                    font-size: 18px;
                }

                .genre_movie {
                    color: gold;
                    font-size: 15px;
                }

                .rating_box {
                    width: 65px;
                    height: 35px;
                    border-radius: 5px;
                    background-color: rgb(137, 203, 54);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    right: 10px;
                    top: 10px;

                    .rating {
                        color: white;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.new_movie_btn {
    background-color: #3657CB;
    box-shadow: 0 0 15px #192a67;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 50px;
    cursor: pointer;
    opacity: 90%;
    margin-left: 50%;
    translate: -50%;
}

.new_movie_btn:hover{
    opacity: 100%;
}

section {
    .container {
        max-width: 1920px;
        padding: 0 40px;
        .trailer_box {
            .title_treiler {
                display: flex;
                justify-content: space-between;
                align-items: center;
                h1 {
                    font-size: 50px;
                    font-weight: bold;
                    color: white;
                }
                button {
                    background: none;
                    color: white;
                    font-size: 22px;
                    font-weight: bold;
                    border: none;
                    display: flex;
                    align-items: center;
                    gap: 27px;
                    img {
                        padding-top: 7px;
                    }
                }
            }
            .video {
                margin-top: 40px;
                box-shadow: 0 0 15px black;
                width: 100%;
                min-height: 600px !important;
                max-height: 800px !important;
                height: 100%;
                position: relative;
                iframe {
                    width: 70%;
                    height: 100%;
                    background: black;
                    border: none;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
                .trailer_list_video {
                    background-color: black;
                    display: flex;
                    align-items: start;
                    flex-direction: column;
                    gap: 20px;
                    overflow-y: scroll;
                    width: 30%;
                    height: 100%;
                    position: absolute;
                    right: 0;
                    top: 0;
                    padding: 50px;
                    .trailer_item {
                        display: flex;
                        flex-direction: column;
                        justify-content: start;
                        align-items: start;
                        position: relative;
                        .backdrop_img{
                            width: 100%;
                            border-radius: 10px;
                        }                    
                        .play{
                            background: url('./public/icon_play.png') no-repeat center / cover;
                            width: 20%;
                            height: 20%;
                            position: absolute;
                            top: 40%;
                            left: 50%;
                            translate: -50% -50%;
                            border-radius: 50%;
                            cursor: pointer;
                        }
                        .trailer_name {
                            padding: 5px 0;
                            font-size: 30px;
                            color: white;
                            font-weight: bold;
                        }
                    }
                }
                ::-webkit-scrollbar{
                    background-color: #1e2538;
                    box-shadow: inset 0 0 10px black;
                    height: 20px;
                }
                ::-webkit-scrollbar-thumb{
                    background-color: #242f4b;
                    box-shadow: inset 0 0 10px black;
                }
            }
            .title_box {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 20px;
                .bottom_title {
                    display: flex;
                    align-items: center;
                    gap: 30px;
                    h1 {
                        font-size: 30px;
                        color: white;
                    }
                    .social_box {
                        display: flex;
                        gap: 20px;
                        img {
                            width: 25px;
                            opacity: 50%;
                        }
                        :hover {
                            opacity: 100%;
                            cursor: pointer;
                        }
                    }
                }
                .assessment_counter {
                    display: flex;
                    gap: 20px;
                    .like,
                    .dislike {
                        background-color: #1B2133;
                        border-radius: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 60px;
                        height: 60px;
                        position: relative;
                        img {
                            padding-bottom: 8px;
                            opacity: 60%;
                        }
                        p {
                            position: absolute;
                            color: white;
                            bottom: -25px;
                        }
                        :hover {
                            opacity: 100%;
                            cursor: pointer;
                        }
                    }
                    .dislike {
                        img {
                            padding-bottom: 0;
                            padding-top: 8px;
                            opacity: 60%;
                        }
                        :hover {
                            opacity: 100%;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

section {
    .container {
        max-width: 1920px;
        padding: 0 40px;

        .popular{
            margin-top: 40px;
            color: white;
            overflow: hidden;

            .title_popular {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h1 {
                    font-size: 40px;
                }

                ul {
                    display: flex;
                    gap: 20px;

                    li {
                        list-style: none;
                        font-weight: bold;
                        opacity: 50%;
                    }

                    :hover {
                        opacity: 80%;
                        cursor: pointer;
                    }

                    .active {
                        opacity: 100%;
                    }
                }
            }
        }

        .popular_movie{
            padding-top: 50px;
            width: 100%;
            min-height: 500px;
            gap: 20px;

            .item_movie{
                width: 100%;
                height: 90%;

                .poster_img{
                    height: 100%;
                    position: relative;
                    .poster_movie {
                        display: block;
                        width: 100%;
                        min-height: 100%;
                        border-radius: 15px;
                        box-shadow: 0 0 15px black;
                        cursor: pointer;
                    }
                }

                .hover_bg {
                    background: linear-gradient(45deg, rgba(54, 87, 203, 0.651), rgba(54, 86, 203, 0), rgba(54, 87, 203, 0.651));
                    padding-top: 115%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 7%;
                    left: 0;
                    border-radius: 15px;
                    box-shadow: inset 0 0 50px black;
                    justify-content: center;
                    align-items: end;
                    display: none;
                    animation: hover .5s linear forwards;

                    @keyframes hover {
                        from {
                            opacity: 0%;
                        }

                        to {
                            opacity: 100%;
                        }
                    }

                    .hover_bg_btn {
                    background-color: #131e48;
                    box-shadow: 0 0 15px black;
                    border-radius: 5px;
                    border: none;
                    color: white;
                    font-size: 20px;
                    font-weight: bold;
                    padding: 0 30px;
                    height: 40px;
                    cursor: pointer;
                    margin-bottom: 30px;
                    }
                    .hover_bg_btn:hover{
                        background-color: #1a2a68;
                    }
                }

                .name_movie {
                    cursor: pointer;
                    color: white;
                    font-weight: bold;
                    font-size: 18px;
                }

                .genre_movie {
                    color: gold;
                    font-size: 15px;
                }

                .rating_box {
                    width: 65px;
                    height: 35px;
                    border-radius: 5px;
                    background-color: rgb(137, 203, 54);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    right: 10px;
                    top: 10px;

                    .rating {
                        color: white;
                        font-weight: bold;
                    }
                }
            }
        }

        .slider {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            p {
                font-size: 20px;
            }

            button {
                background: none;
                border: none;

                img {
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                }
            }
        }
    }
}

section {
    .container {
        max-width: 1920px;

        .popular_person {
            .person_title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 63px;

                h1 {
                    font-size: 40px;
                    color: white;
                }

                ul {
                    display: flex;
                    gap: 20px;

                    li {
                        color: white;
                        list-style: none;
                        opacity: 50%;
                        font-weight: bold;
                    }

                    :hover {
                        opacity: 100%;
                        cursor: pointer;
                    }

                    .active {
                        opacity: 100%;
                    }
                }
            }
        }

        .person_box {
            height: 500px;
            margin-bottom: 40px;
            display: flex;
            gap: 40px;

            .item_person {
                opacity: 85%;
                width: 100%;
                min-height: 450px;
                box-shadow: 0 0 30px black;
                cursor: pointer;
                .title{
                    background:linear-gradient( rgba(0, 0, 0, .1)50%, rgb(0, 0, 0));
                    width: 100%;
                    height: 100%;
                    padding: 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    align-items: start;
                    .name {
                        color: gold;
                        font-weight: bold;
                        font-size: 40px;
                    }
                    .original_name {
                        color: grey;
                        font-size: 30px;
                    }
                }
            }
            .item_person:hover{
                opacity: 100%;
            }

            .person_place_list {
                width: 100%;
                min-height: 450px;
                box-shadow: 0 0 10px grey;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                color: white;
                padding: 30px;
                overflow-y: scroll;
                .list_item{
                    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
                    height: fit-content;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .list_left {
                        .list_name {
                            color: gold;
                            font-weight: bold;
                            font-size: 28px;
                        }
                        .original_name {
                            font-size: 20px;
                            font-weight: 15px;
                            color: grey;
                            padding-bottom: 10px;
                        }
                    }
                }
            }
        }






    }
}

footer {
    .container {
        max-width: 1920px;
        padding: 40px;

        .coming_soon {
            display: flex;
            flex-direction: column;
            color: white;

            .title {
                display: flex;
                justify-content: space-between;

                h1 {
                    font-size: 65px;
                }

                .slider {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    img {
                        width: 25px;
                        height: 25px;
                        opacity: 70%;
                    }

                    :hover {
                        opacity: 100%;
                        cursor: pointer;
                    }

                    p {
                        font-size: 20px;
                    }
                }
            }

            .item_box {
                min-height: 900px;
                padding-top: 50px;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: repeat(2, 550px);
                gap: 40px;
                .item_movie {
                    .poster_img{
                        width: 100%;
                        position: relative;
                        .poster_movie {
                            max-width: 100%;
                            min-height: 100%;
                            border-radius: 15px;
                            box-shadow: 0 0 15px black;
                            cursor: pointer;
                        }
                    }
                    .hover_bg {
                        background: linear-gradient(45deg, rgba(54, 87, 203, 0.651), rgba(54, 86, 203, 0), rgba(54, 87, 203, 0.651));
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 8%;
                        left: 0;
                        border-radius: 15px;
                        box-shadow: inset 0 0 50px black;
                        justify-content: center;
                        align-items: end;
                        display: none;
                        animation: hover .5s linear forwards;

                        @keyframes hover {
                            from {
                                opacity: 0%;
                            }

                            to {
                                opacity: 100%;
                            }
                        }

                        .hover_bg_btn {
                        background-color: #131e48;
                        box-shadow: 0 0 15px black;
                        border-radius: 5px;
                        border: none;
                        color: white;
                        font-size: 20px;
                        font-weight: bold;
                        padding: 0 30px;
                        height: 40px;
                        cursor: pointer;
                        margin-bottom: 30px;
                        }
                        .hover_bg_btn:hover{
                            background-color: #1a2a68;
                    }
                    }

                    .name_movie {
                        cursor: pointer;
                        color: white;
                        font-weight: bold;
                        font-size: 18px;
                    }

                    .genre_movie {
                        color: gold;
                        font-size: 15px;
                    }
                }
            }
        }

        .box_office {
            display: flex;
            flex-direction: column;
            color: white;

            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 50px;

                .left {
                    display: flex;
                    align-items: center;
                    gap: 50px;

                    h1 {
                        font-size: 65px;
                    }

                    p {
                        padding-top: 20px;
                        font-size: 20px;
                    }
                }

                .right {
                    ul {
                        display: flex;
                        gap: 40px;

                        li {
                            list-style: none;
                            opacity: 60%;
                        }

                        .active {
                            opacity: 100%;
                        }

                        :hover {
                            opacity: 100%;
                            cursor: pointer;
                        }
                    }
                }
            }

            .movie_list {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: auto;
                gap: 30px;

                .item_movie {
                    width: 135px;
                    height: 181px;
                    display: flex;
                    gap: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                    }

                    .movie_info {
                        display: flex;
                        flex-direction: column;

                        p {
                            width: fit-content;
                        }
                    }
                }
            }

            .blue_background {
                width: 100%;
                height: 548px;
                background: url('./public/footer_bg.png');
                margin-top: 40px;
                position: relative;
                border-radius: 10px;

                .subscription {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .logo {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }

                    .sub_title {
                        display: flex;
                        flex-direction: column;

                        span {
                            margin-top: 53px;
                            font-size: 50px;
                            font-weight: bold;
                            text-align: center;
                        }

                        p {
                            margin-top: 26px;
                            text-align: center;
                            width: 680px;
                            font-size: 22px;
                        }

                        form {
                            margin-top: 34px;
                            display: flex;
                            justify-content: center;
                            gap: 8px;

                            input {
                                width: 425px;
                                height: 71px;
                                border-radius: 10px;
                                outline: none;
                                padding: 20px;
                                font-size: 17px;
                                border: none;
                            }

                            button {
                                width: 182px;
                                height: 71px;
                                background-color: gold;
                                color: black;
                                font-weight: bold;
                                font-size: 23px;
                                border: none;
                                border-radius: 10px;
                                cursor: pointer;
                                opacity: 80%;
                            }

                            button:hover {
                                opacity: 100%;
                            }
                        }

                        .checkbox {
                            margin-top: 22px;
                            text-align: center;
                            font-size: 17px;

                            label {
                                a {
                                    color: gold;
                                }
                            }
                        }
                    }
                }
            }

            .blue_background::before {
                content: '';
                background: rgba(29, 58, 160, 0.90);
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 0;
                border-radius: 10px;
                box-shadow: 0 0 15px rgba(0, 0, 68, 0.7);
            }

            .socials {
                margin-top: 61px;
                width: 100%;
                display: flex;
                gap: 40px;
                justify-content: center;

                img {
                    opacity: 50%;
                }

                img:hover {
                    opacity: 100%;
                    cursor: pointer;
                }
            }

            nav {
                width: 100%;
                margin-top: 34px;

                ul {
                    display: flex;
                    justify-content: center;
                    gap: 40px;
                    color: white;
                    font-weight: bold;

                    li {
                        list-style: none;
                        opacity: 80%;
                    }

                    li:hover {
                        opacity: 100%;
                        cursor: pointer;
                    }
                }
            }

            .footer {
                color: rgba(227, 230, 240, 0.72);
                text-align: center;
                font-size: 15px;

                p {
                    margin: 41px 0 26px 0;
                }

                a {
                    color: rgba(227, 230, 240, 0.72);
                }
            }
        }
    }
}

.search_box{
    display: none;
    .modal_bg{
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: black;
        opacity: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search_movie{
        position: absolute;
        top: 50px;
        left: 50%;
        translate: -50% 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        color: white;
        font-weight: bold;
        .search_input{
            width: 100%;
            height: 71px;
            border: none;
            border-radius: 10px;
            position: relative;
            outline: none;
            font-size: 20px;
            padding: 0 20px;
        }
        button{
            background: url('./public/search_icon.svg');
            background-size: 35px;
            background-repeat: no-repeat;
            background-position: center;
            background-color: #3657CB;
            width: 51px;
            height: 51px;
            position: fixed;
            right: 10px;
            top: 10px;
            border-radius: 10px;
            border: none;
            cursor: pointer;
        }
        .search_boxs{
            display: flex;
            .movie_box{
                width: 700px;
                display: flex;
                flex-direction: column;
                min-height: fit-content;
                max-height: fit-content;
                overflow-y: scroll;
                .result_item_movie{
                    background-color: rgb(30, 37, 56);
                    width: 100%;
                    height: 137px;
                    border-radius: 15px;
                    box-shadow: 0 0 15px black;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    img{
                        padding: 0 1%;
                        height: 90%;
                        border-radius: 10px;
                    }
                    .movie_info{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0 20px;
                        .movie_info_left{
                            .movie_name{
                                font-size: 20px;
                                font-weight: bold;
                                color: white;
                                padding-bottom: 5px;
                            }
                            .movie_original_name{
                                color: grey;
                            }
                            .movie_genre{
                                color: rgb(242, 246, 15);
                            }
                        }
                        .movie_info_right{
                            width: 50px;
                            height: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: rgb(75, 203, 54);
                            border-radius: 8px;
                            p{
                                font-size: 20px;
                                color: white;
                                font-weight: 30px;
                            }
                        }
                    }
                }
            }
        }
        
        ::-webkit-scrollbar{
            width: 5px;
        }
    }

    ::-webkit-scrollbar{
        width: 5px;
    }
}

.visible{
    display: block;
}